<module>
	<rawname>tts</rawname>
	<name>Text To Speech</name>
	<version>15.0.12</version>
	<repo>extended</repo>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>https://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<type>setup</type>
	<description>Allows you to configure text to speech, and is derived from texttospeech provided in contributed modules.</description>
  	<more-info>https://wiki.freepbx.org/display/FPG/Text+to+Speech+Engines+Module</more-info>
	<category>Applications</category>
	<menuitems>
		<tts needsenginedb="yes">Text To Speech</tts>
	</menuitems>
	<depends>
		<engine>asterisk ge 1.6</engine>
		<module>ttsengines</module>
		<version>13.0.154</version>
	</depends>
	<changelog>
		*15.0.12* FREEI-3374 Vuln-001 Stored Cross-Site Scripting 
		*15.0.11* Packaging of ver 15.0.11
		*15.0.10* Packaging of ver 15.0.10
		*15.0.9* Related to FREEPBX-20414: removed $jobid from runRestore() 
		*15.0.8* Fixing FREEPBX-17867 
		*15.0.7* Fixing FREEPBX-19522 Removing extra submit/reset button from main landing page 
		*15.0.6* fixing legacy restore 
		*15.0.5* Add support for 'polly' (AWS Polly) engine 
		*15.0.4* FREEPBX-18091 
		*15.0.3* Packaging of ver 15.0.3
		*15.0.2* Packaging of ver 15.0.2
		*15.0.1* branch to 15, Impliment backup 15.0
	</changelog>
	<popovers>
		<tts>
			<display>tts</display>
		</tts>
	</popovers>
    <database>
        <table name="tts">
            <field name="id" type="integer" primarykey="true" autoincrement="true"/>
            <field name="name" type="string" length="100"/>
            <field name="text" type="text"/>
            <field name="goto" type="string" length="50" notnull="false"/>
            <field name="engine" type="string" length="50" notnull="false"/>
        </table>
    </database>
	<supported>
		<version>15.0</version>
	</supported>
</module>