<module>
	<rawname>tts</rawname>
	<name>Text To Speech</name>
	<version>2.11.0.0</version>
	<repo>extended</repo>
	<publisher>Schmoozecom.com</publisher>
	<license>GPLv2+</license>
	<type>setup</type>
	<description>Allows you to configure text to speech, and is derived from texttospeech provided in contributed modules.</description>
	<category>Applications</category>
	<menuitems>
		<tts>Text To Speech</tts>
	</menuitems>
	<depends>
		<module>ttsengines</module>
	</depends>
	<location>release/2.11/tts-2.11.0.0.tgz</location>
	<changelog>
		2.11.0.0 Re-categorize
		2.10.0.2 Security update; downstream changes
		2.10.0.1 Security update; downstream changes
		*2.10.0.0* version bump
	</changelog>
	<md5sum>cea41578df1e3c73a62bc9eb5656eb09</md5sum>
</module>
